:root {
  --color: #212934;
  --color0: #212731;
  --color1: #ffffff;
  --color2: #e5e5e5;
  --color3: #dddddd;
  --color4: #f4ad24;
  --color5: #7e8890;
  --color6: #333c4e;
  --color7: #333333;
  --color8: #232a34;
  --color9: #f2f2f2;

  --font-family1: "Montserrat", Arial, Helvetica, sans-serif;
  --font-family2: "Lato", Arial, Helvetica, sans-serif;
}
